 .project-card {
     /* width: 500px;
     height: 400px; */
     margin: 10px;
     border-radius: 12px;
     overflow: hidden;
     position: relative;
     padding: 10px;
     box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
 }

 .img-container {
     margin: auto;
     /* width: 100%; */
     /* height: 300px; */
     /* overflow: hidden; */
     /* display: flex;
     align-items: center;
     justify-content: center; */
 }

 .img-container img {
     width: 100%;
     height: 300px;
     object-fit: cover;
     transition: transform 0.3s ease;
     overflow: hidden;
 }

 .project-card::before {
     content: "";
     position: absolute;
     top: 0;
     left: 0;
     height: 100%;
     width: 100%;
     background-color: #000000bd;
     opacity: 1;
     transition: all 300ms ease;
     z-index: 2;
     transform: translateY(100%);

 }

 .project-item .project-card::before {
     transform: translateY(0);
     opacity: 0.6;
 }

 .project-item:hover .project-card::before {
     transform: translateY(-100%);
     opacity: 0.5;
 }

 .project-item:hover .img-container {
     transform: scale(1.1);
     filter: blur(2px);
     transition: all 300ms ease;
 }

 .project-item:hover .project-title h3 {
     color: #FFEB3B;
 }

 .project-item .description {
     opacity: 1;
     transform: translateY(-50%);
 }

 .description {
     position: absolute;
     top: 50%;
     padding: 12px;
     transform: translateY(100%);
     z-index: 3;
     opacity: 0;
     transition: transform 300ms, opacity 300ms;
 }

 .project-title p {
     font-size: 25px;
     font-weight: 700;
     color: #fff;
 }

 .project-item .project-title h3 {
     color: #fff;
 }

 .project-subtitle {
     display: flex;
     flex-wrap: wrap;
     font-size: 16px;
     font-weight: 600;
     letter-spacing: .5px;
     font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace !important;
 }

 .project-subtitle div {
     background: #2ecce5;
     color: #111921;
     border-radius: 8px;
     margin: 3px;
     padding: 4px 8px;
 }

 .description_link {
     margin-top: 18px;
 }

 .description_link a {
     font-size: 35px;
     color: #7b00ff;
     margin: 10px;
 }

 @media (max-width:768px) {
     .project-card {
         width: 100%;
         height: 300px;
     }

     .project-subtitle {
         font-size: 14px;
     }

     .description {
         padding: 0;
     }

     .project-title p {
         font-size: 20px;
         text-align: center;
     }
 }