.main_container {
    width: 90%;
    display: flex;
    align-items: center;
    margin: auto;
    margin-top: 5px;
    overflow: hidden;
}

.work-container {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    width: 100%;
}

.project-heading {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 4rem 0 2rem 0;
}

.project-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 20px;
    padding: 20px;
    /* justify-items: center;
    width: 100%;
    max-width: 1200px;
    overflow: hidden; */
}

@media (max-width:768px) {
    .project-container {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        padding: 5px;
        margin: auto;
    }
}